<div class="container mt-5" style="padding-bottom: auto;">
    <h2 class="titulo"> Taller para padres - Educar es cosa del corazón <i class="far fa-heart" style="color: #ff9a76;"></i></h2>
    <ul class="list-group">
        <li class="list-group-item"><i class="far fa-clock" style="color: #ff9a76;"></i> Duración: 7 encuentros</li>
        <li class="list-group-item"><i class="fas fa-chalkboard-teacher" style="color: #ff9a76;"></i> Directora: Psicop. Claudia Onorato</li>
        <li class="list-group-item"><i class="fas fa-laptop" style="color: #ff9a76;;"></i> Modalidad: Virtual o Presencial</li>
        <li class="list-group-item"><i class="fas fa-home" style="color: #ff9a76;"></i> Lugar de cursado: 100% virtual. En consultorio. En Instituciones</li>
        <li class="list-group-item"><i class="far fa-calendar-alt" style="color: #ff9a76;"></i> Fecha de inicio: durante el año</li>
    </ul>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-angle-double-down" style="color: #ff9a76;"></i>   Descripción
              </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p class="texto">Los talleres que se presentan a continuación están dirigidos a las familias que deseen mejorar sus vínculos.
                        <br> Se presentan dos talleres: el primero dirigido a padres de niños de 0 a 6 años y el segundo dirigido a padres de niños de 7 a 12 años. Los mismos ofrecen estrategias de psicología positiva que aportan a la calidad vincular
                        y a la salud mental de la familia. Por eso, también pueden ser de interés para docentes, directivos, coordinadores de grupos, terapeutas, couch que trabajen con familias y quieran acompañar a los padres a crecer y mejorar en el
                        vínculo con sus hijos.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fas fa-angle-double-down" style="color: #ff9a76;"></i>   Financiación
              </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body texto">
                    Consultar al contacto de la página <button class="boton btn btn-light" [routerLink]="['/contacto']"> Aquí</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header borde unidad">
            Taller Nº 1: Ser padres positivos. Semillas para comprender y acompañar
        </div>
        <div class="card-body">
            <p class="texto">La finalidad de este taller es ayudar a los padres a reflexionar sobre sus actitudes hacia los hijos, especialmente, ante las conductas que les desagradan. En efecto, la propuesta busca poder comprender estos comportamientos, a través de la
                empatía, buscando juntos alternativas posibles. Se ofrecerán algunas ideas para comprender y acompañar los problemas de comportamiento de los hijos.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Taller Nº 2: Repensar la relación con nuestros hijos. Semillas para la autoestima
        </div>
        <div class="card-body">
            <p class="texto">
                El vínculo con nuestros hijos está centrado muchas veces en la crítica hacia sus comportamientos. Mediante este taller se pretende registrar los modos de actuar más frecuentes de los padres hacia sus hijos, acompañar las acciones que ayudan a crecer en
                confianza y autoestima a los niños y propiciar, de ser necesario, la construcción de estrategias positivas para mejorar los vínculos en la familia. Se ofrecerán algunas ideas para propiciar la autoestima de los hijos. </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Taller Nº 3: La empatía como capacidad central en el vínculo con nuestros hijos. Semillas que sanan
        </div>
        <div class="card-body">
            <p class="texto">
                Mediante este taller queremos compartir algunas formas de ayudar a los niños cuando tienen problemas. Poner en el centro de nuestra atención al niño y sus necesidades es fundamental. Se ofrecerán algunas ideas para reconocer las necesidades de los hijos.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Taller Nº 4: Vincularnos mejor. Semillas de comunicación
        </div>
        <div class="card-body">
            <p class="texto"> La finalidad de este taller es poder pensar juntos la manera en la que hablamos con los niños ya que la apertura en la comunicación tiene mucho poder para cimentar la relación. Se ofrecerán algunas ideas para comunicarse mejor con los hijos.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Taller Nº 5: Los límites en la casa. Semillas de crianza positiva
        </div>
        <div class="card-body">
            <p class="texto">La finalidad de este taller es pensar algunos modos de afrontar situaciones que exigen de los padres y docentes la posibilidad de establecer límites bien definidos con sus hijos. Se ofrecerán algunas ideas para contribuir con la disciplina
                de los hijos.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Taller Nº 6: La calidad de nuestros vínculos. Semillas de ternura y cuidado
        </div>
        <div class="card-body">
            <p class="texto">Mediante este taller veremos juntos cómo vincularnos con calidad con nuestros hijos. Esto se relaciona con un cambio en las actitudes y en la mentalidad de los adultos que los talleres buscan propiciar. Se ofrecerán algunas ideas para comunicarse
                mejor en familia.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Taller N° 7: Para seguir creciendo. Semillas de cambio
        </div>
        <div class="card-body">
            <p class="texto">En este taller se busca integrar las ideas y herramientas propuestas en los talleres anteriores para sostener el proceso iniciado, propiciar vínculos familiares de calidad y de salud mental.</p>
        </div>
    </div>

</div>