.menu {
    color: #28abb9 !important;
    letter-spacing: 1px;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.borde {
    border: 1px solid #28abb9;
}

.titulo {
    color: #679b9b;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.parrafo {
    text-align: justify;
}