<div class="container mt-5" style="padding-bottom: auto;">
    <nav class="navbar navbar-expand-lg pb-3 pt-3 borde" style="background-color: #f1f3f8;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span style="color: #679b9b;"> <i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mr-5 ml-3" routerLinkActive="active">
                    <a class="nav-link menu" data-toggle="tab" [routerLink]="['/miPerfil']">
                        Quién soy</a>
                </li>
                <li class="nav-item mr-5 " routerLinkActive="active">
                    <a class="nav-link menu" data-toggle="tab" [routerLink]="['/miPerfil/filosofia']">
                        Filosofía</a>
                </li>
                <li class="nav-item mr-5 " routerLinkActive="active">
                    <a class="nav-link menu" data-toggle="tab" [routerLink]="['/miPerfil/mision']">
                        Misión</a>
                </li>
                <li class="nav-item mr-5 " routerLinkActive="active">
                    <a class="nav-link menu" data-toggle="tab" [routerLink]="['/miPerfil/trayectoria']">
                        Trayectoria</a>
                </li>
                <li class="nav-item mr-5 " routerLinkActive="active">
                    <a class="nav-link menu" data-toggle="tab" [routerLink]="['/miPerfil/equipo']">
                        Equipo Formador</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="card mb-3 mt-5">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/claudia1.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title titulo"> Mi nombre es Claudia Onorato</h5>
                    <p class="card-text parrafo"> Nací en Santa Fe, Argentina y cursé mis estudios en mi ciudad. <br> Soy Psicopedagoga, egresada de la Universidad Católica de Santa Fe (UCSF) y Profesora de Nivel Primario, egresada del Instituto de Profesorado -Colegio Normal Superior
                        San Martín. <br> En la actualidad soy doctoranda en el Doctorado de Educación de la UCSF.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="width: 100%;">
        <div class="card-body">
            <p class="card-text parrafo">
                Durante años me desempeñé como docente en establecimientos estatales y privados en los niveles primario, secundario y superior; como Asesora Pedagógica e integrante de un Gabinete Psicopedagógico en escuelas secundarias y como Profesora Tallerista y Jefa
                de prácticas docentes en el Nivel Superior. Asimismo, tuve a mi cargo la coordinación de proyectos de prevención de la violencia escolar, programas socioeducativos, entre otros, y participé en congresos y cursos de posgrado en las áreas
                de Educación y Psicología. Actualmente soy Profesora y trabajo en consultorio privado. Realizo charlas y talleres para padres, educadores y docentes en temáticas relacionadas con la educación, la orientación vocacional, el suicidio en
                adolescentes, entre otros.
                <br><br> <strong>
                    Cuento con experiencia en el ámbito de la clínica de niños y adolescentes, también, en el acompañamiento terapéutico grupal y en la formación de formadores desde una perspectiva cristiana, puntualmente, desde los aportes de Edith Stein y San Juan Bosco releídos y actualizados al tiempo presente. 
                    <br> <br>
                    Desde el ámbito clínico acompaño a niños y jóvenes, y asesoro a las familias, los directores de escuelas y docentes de todos los niveles del Sistema Educativo. También, a instituciones y grupos en temas relativos al aprendizaje, la salud mental y el crecimiento integral. 
                    <br> <br>
                    Desde la formación brindo acompañamiento a formadores ocupados en la tarea de educar a niños, niñas y adolescentes; a líderes y coordinadores de grupos que promuevan la prevención en salud mental y la calidad de vida. 
                    <br> <br>
                    Mi propuesta es comunicar, desde un enfoque relacional, mi experiencia y conocimientos sobre temáticas relativas a la educación, el liderazgo y la comunicación con un estilo empático y amable.
                </strong>

            </p>
        </div>
    </div>

    <div class="card mb-5" style="width: 100%;">
        <div class="card-body">
            <p class="card-text parrafo"><i class="fas fa-book" style="color: #28abb9;"></i> Co autora junto a María Obdulia Mendez del libro: "La Violencia en la escuela" Don Bosco.py 2011
                <br><br> <i class="fas fa-book" style="color: #28abb9;"></i> Co autora junto a María Carina Giles del libro: "Proyecto Wayruru. Aprendizaje y servicio en contextos de marginalidad" UCSF.2014</p>
        </div>
    </div>

</div>