<div class="container mt-5" style="padding-bottom: auto;">

    <div class="card mb-3 borde" style="width: 100%;">
        <div class="card-body">
            <h1 class="card-title titulo">Misión</h1>
            <p class="card-text parrafo">
                La misión de este servicio es: <br><br>
                <i class="fas fa-check" style="color: #9ab3f5;"></i> Cuidar, sanar y acompañar a las infancias y adolescencias para su crecimiento integral. Para eso, es fundamental formar a quienes acompañan a niños/as y adolescentes. De modo implícito,
                tiene la misión de criticar ciertos modos de educar y acompañar que no son apropiados en el cuidado de la infancia y que, al ser registrados, pueden cambiarse propiciando nuevas actitudes. Por eso, la misión es cambiar los modos de educar
                tradicionales ofreciendo una pedagogía innovadora, acorde al tiempo presente.
                <br><br>
                <i class="fas fa-check" style="color: #9ab3f5;"></i> Ofrecer espacios de crecimiento personal, mejora de la capacidad de liderazgo y gestión de equipos a quienes se inician en la profesión docente y otras relacionadas con la salud mental:
                psicólogos, psicopedagogos, psicólogos sociales, trabajadores sociales, líderes.
                <br><br>
                <i class="fas fa-check" style="color: #9ab3f5;"></i> Crear espacios de escucha y comprensión para grupos interesados en temas de salud mental y calidad de vida.

            </p>
        </div>
    </div>
    <div class="card mb-3 borde" style="width: 100%;">
        <div class="card-body">
            <h1 class="card-title titulo">Visión</h1>
            <p class="card-text parrafo">
                La visión que se sostiene es la de acompañar el crecimiento integral de los niños, niñas y adolescentes. Además, propiciar la salud mental de las familias, las instituciones educativas y otros espacios interesados en mejorar su calidad de vida. <br><br>                Se ofrece capacitación virtual y presencial a todos los que quieran formarse en un modo de educar que contiene un gran potencial para propiciar el despliegue de los jóvenes, el fortalecimiento de los educadores y la formación de líderes.
                La propuesta aporta a la prevención ofreciendo diversos dispositivos.

            </p>
        </div>
    </div>

    <div class="card mb-3 borde" style="width: 100%;">
        <div class="card-body">
            <h1 class="card-title titulo">Valores</h1>
            <p class="card-text parrafo">
                Nuestros valores son: <br><br> el compromiso con la calidad de las propuestas que se generen en este espacio, basado en el estudio serio de los fundamentos teóricos que la sostienen y la revisión de las propias prácticas. El respeto en
                el trato con todos. El cuidado y la ternura en el vínculo pedagógico/ terapéutico. La gratuidad al ofrecer servicios solidarios que abren el espacio a la responsabilidad social.

            </p>
        </div>
    </div>

</div>