<div class="container mt-5" style="padding-bottom: auto;">
    <h2 class="titulos">Servicio Psicopedagógico “Nuestra Señora de Guadalupe” </h2>
    <div class="card">
        <div class="card-body">
            <p class="card-text justify">
                La Psicopedagogía es un espacio inter - disciplinar complejo y múltiple. Como profesión fue y hoy es espacio profesional y praxis, lugar de encuentros e intercambios. Interdisciplina que configura una práctica diaria donde se encuentran personas aprendiendo
                en diversos momentos de la vida, en la escuela, en el trabajo, en sus familias, a través de los medios de comunicación, en el tiempo libre. En sus comienzos centrada en "el alumno que tiene problemas de aprendizaje" pasó a dedicarse a
                comprender los síntomas en el contexto familiar y escolar, al abordaje grupal e institucional, a la formación y asesoramiento de docentes y padres, al trabajo interdisciplinario con psicólogos - pediatras - neurólogos - trabajadores sociales
                - fonoaudiólogos y demás profesionales.
            </p>
            <h4 class="title card titulos text-end"> Marina Muller</h4>
        </div>
    </div>

    <h2 class="titulos">Servicios</h2>
    <div class="card mb-5">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-check" style="color: #ff9a76;"></i> Diagnóstico y tratamiento de dificultades de aprendizaje. Atención de niños, adolescentes y adultos.</li>
                <li class="list-group-item"><i class="fas fa-check" style="color: #ff9a76;"></i> Orientación Vocacional.</li>
                <li class="list-group-item"><i class="fas fa-check" style="color: #ff9a76;"></i> Talleres de hábitos y técnicas de estudio.</li>
                <li class="list-group-item"><i class="fas fa-check" style="color: #ff9a76;"></i> Asesoría psicopedagógica para padres, docentes e instituciones educativas.
                </li>
                <li class="list-group-item"><i class="fas fa-check" style="color: #ff9a76;"></i> Diagnósticos institucionales.</li>
                <li class="list-group-item"><i class="fas fa-check" style="color: #ff9a76;"></i> Talleres y charlas para docentes, escuela para padres.</li>
                <li class="list-group-item"><i class="fas fa-check" style="color: #ff9a76;"></i> Talleres y charlas de crecimiento personal, educación emocional y mejora de la capacidad de liderazgo.</li>
            </ul>
        </div>
    </div>
</div>