<div class="container mt-5" style="padding-bottom: auto;">

    <div class="card mb-3 borde" style="width: 100%;">
        <div class="card-body">
            <h1 class="card-title titulo">Nuestra Historia</h1>
            <p class="card-text parrafo">
                El servicio psicopedagógico nace en el año 2004 como espacio para la atención integral de los problemas de aprendizaje y la orientación vocacional. Con el tiempo el servicio se amplió para la atención a familias, a escuelas, grupos parroquiales y otras
                instituciones. <br><br> Paralelamente, desde el Departamento de Pastoral de la UCSF, se propone la elaboración y coordinación de un proyecto para el acompañamiento de niños, niñas y adolescentes que viven en situación de
                vulnerabilidad social, el mismo fue denominado Wayruru. Realizamos actividades educativas en diferentes barrios de la ciudad de Santa Fe, Argentina. Se abordó el conocimiento de esta realidad desde una mirada profesional para contribuir
                al estudio y resolución de problemas sociales. Participaron alumnos y actores sociales comprometidos desde diversas profesiones brindando un servicio a la comunidad que concretice los valores humanos, religiosos y morales propios de una
                visión cristiana del hombre, integrando de esta manera la vida con la fe. <br><br> En el año 2014 se publicó la experiencia en un libro denominado “Proyecto Wayuru, aprendizaje y servicio en contextos de marginalidad”. Continuamos con
                esta tarea hasta el año 2017. En 2016 se presentó la posibilidad de iniciar una investigación educativa sobre temas de pedagogía para los niños y jóvenes actuales. Este espacio continúa en la actualidad.

            </p>
        </div>
    </div>

</div>