<h1 class="bienvenidos" style="--td: 1.2s; padding-bottom: auto;">
    <div class="block-reveal block-effect" style="--bc: #28abb9; --d: .1s">Bienvenidos</div>
    <div class="block-reveal block-effect" style="--bc: #ffffff; --d: .5s"> <br> </div>
    <div class="block-reveal block-effect2" style="--bc: #679b9b; --d: .8s"><i class="fas fa-quote-left"></i> Tener empatía es sentir lo que otros sienten. Es oír atentamente los clamores del mundo... Es permitirse sufrir cuando otro sufre o reírse feliz cuando ríe. Es enternecerse con la ternura y temer con los temores...Toda
        persona guarda un gran tesoro en la parte hundida de su barco. Entra en esa zona prohibida y corta las cadenas. Reduce las distancias.<i class="fas fa-quote-right"></i><br> Renny Yagosesky</div>
</h1>