<h1 class="bienvenidos" style="--td: 1.2s;">
    <div class="block-reveal block-effect" style="--bc: #ff9a76; --d: .1s">Bienvenidos</div>
    <div class="block-reveal block-effect" style="--bc: #ffeadb; --d: .5s"> <br> </div>
    <div class="block-reveal block-effect2" style="--bc: #679b9b; --d: .8s"><i class="fas fa-quote-left"></i> Hay personas que transforman el sol en una simple mancha amarilla, pero hay también quienes hacen de una simple mancha amarilla el propio sol <i class="fas fa-quote-right"></i><br> Picasso</div>
</h1>