<div class="container mt-5" style="padding-bottom: auto;">
    <h2 class="titulo"> Talleres educativos. Una propuesta desde la empatía</h2>
    <ul class="list-group">
        <li class="list-group-item"><i class="far fa-clock" style="color: #ff9a76;"></i> Duración: 9 encuentros</li>
        <li class="list-group-item"><i class="fas fa-chalkboard-teacher" style="color: #ff9a76;"></i> Directora: Psicop. Claudia Onorato</li>
        <li class="list-group-item"><i class="fas fa-laptop" style="color: #ff9a76;;"></i> Modalidad: Virtual o Presencial</li>
        <li class="list-group-item"><i class="fas fa-home" style="color: #ff9a76;"></i> Lugar de cursado: 100% virtual. En consultorio. En Instituciones</li>
        <li class="list-group-item"><i class="far fa-calendar-alt" style="color: #ff9a76;"></i> Fecha de inicio: durante el año</li>
    </ul>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-chevron-circle-up" style="color: #ff9a76;"></i>   Descripción
              </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p class="texto">Este curso está orientado a propiciar el desarrollo y despliegue de los niños, niñas y adolescentes. <br> <br> Se comparten experiencias de acompañamiento a las infancias y adolescencias que se constituyen como propuestas para ser
                        reflexionadas, repensadas, recreadas por los lectores. En esta construcción conjunta la toma de decisiones que posibiliten la concreción situada de la propuesta, atendiendo a la complejidad de cada contexto, depende de la implicación
                        y participación de los cursantes.
                        <br> <br> Se parte de una mirada holística, contextualizada y compleja que tiene al proceso empático como eje en torno al cual se construye el vínculo intersubjetivo que educa. El material que se propone reúne aspectos pedagógicos,
                        psicológicos, espirituales y terapéuticos que al ser registrados por los lectores pueden ser de ayuda para darse cuenta de cuestiones poco visibilizadas en el vínculo educativo contribuyendo al logro de una práxis educativa más
                        humana y despierta.
                        <br> <br> Este curso puede ser de interés para docentes, coordinadores de programas socioeducativos u otros actores sociales que trabajen con niños/as adolescentes, estudiantes de las carreras de Profesorado de Nivel primario,
                        estudiantes de Psicología, Psicopedagogía y Ciencias de la Educación.
                        <br> <br> El diseño propuesto puede ajustarse también a la tarea de docentes de Educación Secundaria, docentes y estudiantes de Educación especial, Asistentes sociales, Psicólogos sociales y coordinadores de grupos que trabajen
                        con niños/as, adolescentes.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fas fa-chevron-circle-up" style="color: #ff9a76;"></i>   Requisitos
              </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body texto">
                    Poseer título secundario, excluyente.
                    <br> Acreditar experiencia laboral docente o como coordinador de proyectos socioeducativos, no excluyente.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fas fa-chevron-circle-up" style="color: #ff9a76;"></i>   Financiación
              </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body texto">
                    Consultar al contacto de la página <button class="boton btn btn-light" [routerLink]="['/contacto']"> Aquí</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header borde unidad">
            Unidad 1: Talleres educativos. Una propuesta desde la empatía
        </div>
        <div class="card-body">
            <p class="texto"><i class="fas fa-check" style="color: #ff9a76;"></i> Introducción
                <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> Qué es un taller
                <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> La modalidad del Taller
                <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> Diseño de los talleres (planificación)
                <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> El trabajo en grupo
                <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> Talleres para niños y adolescentes</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Unidad 2: El inicio de un taller.
        </div>
        <div class="card-body">
            <p class="texto">
                <i class="fas fa-check" style="color: #ff9a76;"></i> Organización del espacio de Taller
                <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> Organización de los encuentros <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> Los materiales necesarios para un taller con niños y adolescentes
                <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> El caso del Taller “Semillas” para niños de 6 a 12 años
                <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> Propuestas iniciales.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Unidad 3: El trabajo con niños y adolescentes
        </div>
        <div class="card-body">
            <p class="texto">
                <i class="fas fa-check" style="color: #ff9a76;"></i> Consideraciones generales
                <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> El coordinador
                <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> Los cuentos y los niños
                <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> El niño y el juego
                <br> <br>
                <i class="fas fa-check" style="color: #ff9a76;"></i> Educar desde la heterogeneidad </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Unidad 4: Talleres para niños y adolescentes- “Semillas de Autoestima”
        </div>
        <div class="card-body">
            <p class="texto"> <i class="fas fa-check" style="color: #ff9a76;"></i> Encuentros para niños de 6 a 12 años</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Unidad 5: Talleres para niños y adolescentes- “Semillas de Emociones”
        </div>
        <div class="card-body">
            <p class="texto"><i class="fas fa-check" style="color: #ff9a76;"></i> Encuentros para niños de 6 a 12 años</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Unidad 6: Talleres para niños y adolescentes- “Semillas de Resolución de problemas”
        </div>
        <div class="card-body">
            <p class="texto"><i class="fas fa-check" style="color: #ff9a76;"></i> Encuentros para niños de 6 a 12 años</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Unidad 7: Talleres para niños y adolescentes- “Semillas de Habilidades sociales”
        </div>
        <div class="card-body">
            <p class="texto"><i class="fas fa-check" style="color: #ff9a76;"></i> Encuentros para niños de 6 a 12 años</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header unidad">
            Unidad 8: Talleres para niños y adolescentes- “Semillas de Alegría”
        </div>
        <div class="card-body">
            <p class="texto"><i class="fas fa-check" style="color: #ff9a76;"></i> Encuentros para niños de 6 a 12 años</p>
        </div>
    </div>
    <div class="card mb-5">
        <div class="card-header unidad">
            Unidad 9: Talleres para niños y adolescentes- “Semillas Prosociales”
        </div>
        <div class="card-body">
            <p class="texto"><i class="fas fa-check" style="color: #ff9a76;"></i> Encuentros para niños de 6 a 12 años</p>
        </div>
    </div>

</div>