<nav class="navbar navbar-expand-lg pb-3 pt-3" style="background-color: #679b9b;">

    <img src="../../../assets/2.png" alt="" class="img-fluid mr-5 ml-5" width="200" height="400">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span style="color: #ffeadb;"> <i class="fas fa-bars"></i></span> 
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">

            <li class="nav-item mr-5 ml-5" routerLinkActive="active">
                <a class="nav-link menu" data-toggle="tab" [routerLink]="['/inicio']">
                    Inicio</a>
            </li>

            <!-- <li class="nav-item mr-5 " routerLinkActive="active">
                <a class="nav-link" data-toggle="tab" [routerLink]="['/Acerca']"><i class="far fa-address-book"></i>
                    Acerca de mi</a>
            </li> -->

            <li class="nav-item mr-5 " routerLinkActive="active">
                <a class="nav-link menu" data-toggle="tab" [routerLink]="['/cursos']">
                    Cursos</a>
            </li>

            <li class="nav-item mr-5" routerLinkActive="active">
                <a class="nav-link menu" data-toggle="tab" [routerLink]="['/contacto']">
                    Contacto</a>
            </li>
        </ul>

    </div>

</nav>