<div class="container mt-5" style="padding-bottom: auto;">
    <div class="card mb-3 borde" style="width: 100%;">
        <div class="card-body">
            <h1 class="card-title titulo">Filosofía</h1>
            <p class="card-text parrafo">
                Los aportes teóricos de mi propuesta de trabajo, con perspectiva cristiana, se basan en la experiencia educativa de Don Bosco, que se considera con un real potencial para propiciar la educación de los jóvenes, especialmente, los que se encuentran en situación
                de vulnerabilidad social. Resulta interesante mirarla en el contexto actual, para reconocer características de su potencial educativo.
                <br><br> Es oportuno señalar que la Pedagogía salesiana surgió en el SXIX, fue creada por <strong>San Juan Bosco</strong>, en Turín, Italia, se trató de una experiencia educativa con niños y adolescentes en situación de vulnerabilidad.
                Para profundizar en aspectos teóricos y empíricos de un concepto central de su propuesta educativa: la Amarevolezza, se profundiza en el desarrollo teórico de <strong>Edith Stein</strong>, en su tesis sobre la empatía. Edith Stein filósofa
                alemana, del SXX, “una judía, filósofa, monja y mártir (…) su vida se caracterizó por una búsqueda infatigable de la verdad, iluminada por la gracia de la cruz de Cristo” (Juan Pablo II, 1987, N°1 y 5). Actualmente sus aportes pueden ser
                abordados desde diversas disciplinas.
            </p>
        </div>
    </div>

</div>