<div style="background-color: #f1ede3; padding-bottom: auto;" class="container-fluid">
    <div class="row mb-5">
        <div class="col formulario ml-5 mr-5">
            <h1 class="titulo">Contáctame</h1>
            <br>
            <br>
            <form [formGroup]="contactForm" name="contactForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="nombre" style="font-family: 'Lato', sans-serif; color: #28abb9;">Nombre</label>
                        <input formControlName="nombre" name="nombre" type="text" class="form-control d-block"
                            id="Nombre">
                    </div>
                    <div class="form-group col-12">
                        <label for="email" style="font-family: 'Lato', sans-serif; color: #28abb9;">Email</label>
                        <input formControlName="email" name="email" type="email" class="form-control d-block"
                            id="Email">
                    </div>
                    <div class="form-group col-12">
                        <label for="asunto" style="font-family: 'Lato', sans-serif; color: #28abb9;">Asunto</label>
                        <textarea formControlName="asunto" name="asunto" class="form-control d-block" id="mensaje"
                            rows="5"></textarea>
                    </div>
                    <!-- <div class="inputContainer">
                        <button type="submit" [disabled]="contactForm.invalid">Enviar mensaje</button>
                      </div> -->
                    <input type="submit" class="btn btn-block"
                        style="background-color: #28abb9; color: #ffeadb; font-family: 'Lato', sans-serif; size: 20px;"
                        value="Enviar Mensaje">
                </div>
            </form>
            <!-- <div class="error" [class.hidden]="errorMsg.length == 0">
                <p>{{errorMsg}}</p>
                <span (click)="closeError()" class="close">✖︎</span>
            </div> -->
        </div>


        <div class="col mapaCol d-none d-lg-block d-xl-block">
            <div class="row mb-5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3396.75033352993!2d-60.71496598484646!3d-31.640685581329922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5a9b720118105%3A0xb8473e346e5af315!2sHip%C3%B3lito%20Yrigoyen%203180%2C%20S3000BLS%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1601301183160!5m2!1ses-419!2sar"
                    width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>

            <div class="row">

                <div class="col-5">
                    <img src="../../../assets/3.png" alt="" width="100%" height="auto" class="img-fluid">
                </div>

                <div class="col-7">
                    <div class="social row mt-3">
                        <p class="social">
                            <i class="fas fa-map-marker-alt mr-3" style="font-size: 26px; color: #28abb9"></i> Hipólito
                            Yrigoyen 3180
                            <br> Santa Fe, Argentina</p>
                    </div>

                    <div class="row social mb-3">
                        <a href=" " class="social">
                            <i class="fab fa-whatsapp mr-3" style="font-size: 26px; color: #28abb9"></i> +54 3424
                            215963</a>
                    </div>

                    <div class="row social">
                        <p class="social"><i class="fas fa-phone mr-3" style="font-size: 26px; color: #28abb9"></i> +54
                            3424 810967</p>
                    </div>

                    <div class="social row">
                        <a href="mailto:claudiadanielaonorato@gmail.com" class="social">
                            <i class="far fa-envelope mr-3" style="font-size: 26px; color: #28abb9"></i>
                            claudiadanielaonorato@gmail.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-lg-none d-xl-none mt-5">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3396.75033352993!2d-60.71496598484646!3d-31.640685581329922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5a9b720118105%3A0xb8473e346e5af315!2sHip%C3%B3lito%20Yrigoyen%203180%2C%20S3000BLS%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1601301183160!5m2!1ses-419!2sar"
            width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>

    <div class="d-lg-none d-xl-none">
        <div class="col-5 mb-3 mt-3">
            <img src="../../../assets/3.png" alt="" width="100%" height="auto" class="img-fluid">
        </div>
        <div class="col-7">
            <div class="row social mb-3">
                <a href=" " class="social">
                    <i class="fab fa-whatsapp mr-3" style="font-size: 20px; color: #28abb9"></i> +54 3424 215963</a>
            </div>
            <div class="row social">
                <p class="social"><i class="fas fa-phone mr-3" style="font-size: 20px; color: #28abb9"></i> +54 3424
                    810967</p>
            </div>
            <div class="social row">
                <a href="mailto:claudiadanielaonorato@gmail.com" class="social">
                    <i class="far fa-envelope mr-3" style="font-size: 20px; color:#28abb9;"></i>
                    claudiadanielaonorato@gmail.com</a>
            </div>
        </div>
    </div>


</div>