.titulo {
    color: #679b9b;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.social {
    flex: 1 1 auto;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    color: #679b9b;
    font-family: 'Lato', sans-serif;
}

.mapaCol {
    margin-top: 140px;
    margin-left: 100px;
    margin-right: 100px;
}

.formulario {
    margin-top: 85px;
    /* margin-left: 50px; */
}