<div style="background-color: #f1ede3; padding-bottom: 100px;">
    <div class=" container">
        <div class="row">
            <div class="col-5 mt-5 mce-text-center">
                <h1 class="titulo">Contáctame</h1>
                <br>
                <br>
                <form name="contact" action="POST" data-netlify="true">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="nombre" style="font-family: 'Lato', sans-serif; color: #679b9b;">Nombre</label>
                            <input name="nombre" type="text" class="form-control d-block" id="Nombre">
                        </div>
                        <div class="form-group col-12">
                            <label for="email" style="font-family: 'Lato', sans-serif; color: #679b9b;">Email</label>
                            <input name="email" type="email" class="form-control d-block" id="Email">
                        </div>
                        <div class="form-group col-12">
                            <label for="mensaje" style="font-family: 'Lato', sans-serif; color: #679b9b;">Asunto</label>
                            <textarea name="mensaje" class="form-control d-block" id="mensaje" rows="5"></textarea>
                        </div>
                        <input type="submit" class="btn btn-block" style="background-color: #679b9b; color: #ffeadb; font-family: 'Lato', sans-serif; size: 20px;" value="Enviar Mensaje">

                    </div>
                </form>
                <br>
                <!-- MAPA GOOGLE -->
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d4336.05634682812!2d-60.41496292449039!3d-31.765321374924618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sAntonio%20Serrano%20366%2C%20Colonia%20Avellaneda%2C%20Entre%20R%C3%ADos!5e0!3m2!1ses-419!2sar!4v1594242030927!5m2!1ses-419!2sar"
                width="700" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
            </div>
            <div class="col-2">

            </div>
            <div class="col-5 mt-5 mce-text-center">
                <div class="row mce-text-center">
                    <img src="../../../assets/3.png" alt="" sizes="70%">
                </div>
                <div class="row">
                    <br>
                </div>
                <div class="social row">
                    <a href="https://api.whatsapp.com/send?phone=543434651725&text=Comunicate%20con%20MYA" class="anav social" style="font-size: 20px; text-decoration: none;">
                        <i class="fab fa-whatsapp mr-3" style="font-size: 32px;"></i> +54 343 4694989</a>
                </div>
                <div class="row">
                    <br>
                </div>
                <div class="social row">
                    <a href="mailto:myacomunicaciones.mkt@gmail.com" class="anav social" style="font-size: 20px; text-decoration: none;">
                        <i class="far fa-envelope mr-3" style="font-size: 32px;"></i> claudiaOnorato@gmail.com</a>
                </div>
            </div>
        </div>
    </div>