<div class="container mt-5" style="padding-bottom: auto;">

    <div class="card mb-3 mt-5">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/esther.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <br><br><br>
                    <h5 class="card-title titulo text-center"> Mi nombre es Esther R. Nacimento</h5>
                    <p class="card-text parrafo text-center"> Me encontrarán en el equipo formador junto a Claudia Onorato</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="width: 100%;">
        <div class="card-body">
            <p class="card-text parrafo text-left">
                <strong class="titulo">
                    Experiencia Laboral
                </strong>
                <br><br>
                <i class="fas fa-check" style="color: #9ab3f5;"></i> Auxiliar docente del Nivel Primario en LMGB. 2016-2020
                <br> <i class="fas fa-check" style="color:#9ab3f5;"></i> Preceptora del Nivel Secundario en LMGB. 2016-2020
                <br> <i class="fas fa-check" style="color:#9ab3f5;"></i> Asesor en ventas – Raes Equilibrio -2019- 2020
                <br> <i class="fas fa-check" style="color:#9ab3f5;"></i> Voluntariado como Coordinadora de grupos de trabajos juntamente con equipos interdiciplinarios, en Proyecto “Compartir Para Sanar” –Grupos de Ayuda Mutua en Salud Mental y Promoción
                de Calidad de Vida- Colegio Inmaculada de Santa Fe. 2013-2017
                <br><i class="fas fa-check" style="color: #9ab3f5;"></i> Atención al Público en Comercio – 2011-2012
                <br> <i class="fas fa-check" style="color: #9ab3f5;"></i> Secretaria -Recepcionista en el Laboratorio LEB. 2010-2011


            </p>
        </div>
    </div>

    <div class="card mb-5" style="width: 100%;">
        <div class="card-body">
            <p class="card-text parrafo">
                <strong class="titulo">
                   Datos de contacto
                </strong>
                <p class="parrafo"><i class="far fa-envelope mr-3" style="font-size: 20px; color: #9ab3f5;"></i> esternacimento@hotmail.com</p>
                <p class="parrafo"><i class="fas fa-phone mr-3" style="font-size: 20px; color: #9ab3f5;"></i> 0342 - 155121551 </p>
        </div>
    </div>

</div>