<div class="container mt-5" style="padding-bottom: auto;">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/semillas3.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title titulo">Talleres educativos. Una propuesta desde la empatía </h2>
                    <br> <br>
                    <p class="card-text justify text-center descrip">Este curso contiene semillas que se juntan para crecer, multiplicarse y formar comunidad. <br> Cada semilla contiene en su interior una chispa de vida: un valor, un desafío, una solución, un invento, un juego de imaginación creativa,es
                        decir, un mensaje para quien quiera implicarse en la tarea de descubrirlo.
                        <p>
                            <button class="boton btn btn-light" [routerLink]="['/cursos/tallerEducativo']"> Ver Más</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-5">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/semillas.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title titulo">Taller para padres - Educar es cosa del corazón <i class="far fa-heart" style="color: #ff9a76;"></i></h2>
                    <br> <br>
                    <p class="card-text descrip">Este curso contiene semillas que se juntan para alentar a los padres a mejorar la comunicación, la comprensión, el acompañamiento, en definitiva, la calidad de las relaciones con sus hijos y cuidar la salud mental de la familia al
                        lograr construir un ambiente positivo y sereno.</p>
                    <button class="btn btn-light boton" [routerLink]="['/cursos/tallerPadres']"> Ver Más</button>

                </div>
            </div>
        </div>
    </div>
</div>